{
    "root": true,
    "parserOptions": {
      "ecmaVersion": 2020,
      "requireConfigFile": false,
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": true
      }
    },
    "env": {
      "es6": true,
      "node": true
    },
    "plugins": ["import","prettier"],
    "extends": [
      "eslint:recommended",
      "@exercism/eslint-config-javascript/maintainers",
      "prettier",
      "plugin:import/errors",
      "plugin:import/warnings"
    ],
    "rules": {
      "prettier/prettier": "warn",
      "array-callback-return": "off",
      "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
      "import/no-unresolved": "off",
      "import/extensions": "off"
    }
  }
